.contactPage
{
 background: #636F81;
   min-width: 100vw ;
   min-height: 100vh;
   font-family: "Work Sans";
   padding-top: 65px;
   
}
.contactPageContent
{
    background: #FFFFFF;
    box-shadow: 0px 0px 31px 3px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    max-width: 1345px;
    height: 775px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.contactInfo
{

    max-width: 504px;
    height: 100%;
    background: #475569;
    border-radius: 7px 0px 0px 7px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;
display: flex;
flex-direction: column;
    justify-content: space-between;
    
}
.infoHeading{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.info div{
    display: flex;
    /* justify-content: space-evenly; */
    margin: 16px;
}
.info div img{
    /* margin-left: 10px;
    margin-right: 10px;
     */
    height:min-content;
}

.info div div{
    display: flex;
    flex:1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 0px;
}
.info div div span{
    flex:1;
    text-align: left;
}

.contactMap
{
    width: 470px;
height: 311px;
}

.inquiryForm
{
    flex: 1;
    padding: 24px;
    
}
.inquiryForm p{
    font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 42px;

color: #475569;

}
input {
    outline: 0;
    border-width: 0 0 3px;
    
    border-color:  #000000;
    margin-left: 55px;
    margin-top: 17px;
    margin-bottom: 17px;
    width: 280px;
  }
  input::placeholder
  {
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;

color: #475569;

  }
  [placeholder]:focus::-webkit-input-placeholder {
    
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }

 .inquiryForm select{
    background: #FFFFFF;
border: 1px solid #000000;
border-radius: 8px;
width: 280px;
height: 48px;
margin-left: 55px;
margin-top: 17px;
margin-bottom: 17px;

}
select option {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    
    color: #475569;
 }
 select:not(:checked) {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    
    color: #475569;
 }
 .inquiryForm .disSelect
 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    
    color: #475569;
 }
.inquiryForm button
 {
    
background: #475569;
border-radius: 7px;
font-weight: 600;
font-size: 25px;
line-height: 29px;
width: 151px;
height: 42px;
color: #FFFFFF;
margin-left: 55px;
margin-top: 18px;
 }

 @media screen and (max-width: 1222px) {
    .inquiryForm form div {
     flex-direction: column;
     align-items: center;
    }
  }
  @media screen and (max-width: 971px) {
    .contactPageContent  {
     flex-direction: row-reverse;
     /* align-items: center; */
    }
  }