/* zeroing */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
small, strike, strong, sub, sup, tt, var,
del, dfn, em, img, ins, kbd, q, s, samp,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style: none;
}

body{
    font-family: 'Work Sans', sans-serif;
    /* overflow-x: hidden; */
}
::-webkit-scrollbar {
    display: none;
  }
/* Main CSS */

/* NAVBAR */
.mainNav{
    filter: drop-shadow(0 10px 10px #adb5bd);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.navList{
    flex-direction: row;
    justify-content: space-between;
}
.mainNav li{
    display: inline-block;
    margin: 0 8px;
}
.mainNav a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 5%;
}
.mainNav a:hover{
    color: #3ec2fb;
    transition: 0.5s;
}
.contactBtn{
    color: #fff;
    border: 1px solid #3ec2fb;
    background-color: #3ec2fb;
    border-radius: 5%;
    padding: 0px;
}
.contactBtn:hover{
    color: #fff;
    border: 1px solid #3ec2fb;
    background-color: #fff;
    border-radius: 10%;
    transition: 0.25s;
}



/* BODY */
/* sec I */
#bodySec1{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    flex-direction: row;
}

/* intro */
#intro{
    margin: 9% 10% 0 10%;
}
#intro p{
    width: 700px;
    font-size: 20px;
}
#mainHeading{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #475569;

}
#intro p{
    color: #6476A1;
}
#introBtn{
    display: flex;
    padding: 20px;
    padding-left: 0;
}
#getStartedBtn{
    margin: 2px;
    padding: 1rem;
    background-color: #ec4899;
    color: #fff;
    border: none;
    border-radius: 5%;
}
#getStartedBtn:hover{
    cursor: pointer;
}
#extraBtn{
    margin: 2px;
    padding: 1rem 2rem;
    background-color: #475569;
    color: #fff;
    border: none;
    border-radius: 5%;

}
#extraBtn:hover{
    cursor: pointer;
}

/* img */
#art1{
    display: flex;
    justify-content: flex-end;
    width: 400px;
    height: 400px;
}

/* sec II */
#bodySec2{
    display: flex;
    justify-content: flex-start;
    background-image: url("Media/rectangle.svg");

}
#bulletin{
    height: 550px;
    width: 600px;
    border: solid #3ec2fb;
    background-color: #fff;
    margin: 10% 5%;
    border-radius: 5%;
}
#bulletin hr{
    background-color: #3ec2fb;
    height: 3px;
    border: none;
    padding: 0;
    margin: 0;
}
#bulletinHead{
    display: flex;
    margin: 20px;


}
#bulletinHead h1{
    position: relative;
    top: 15px;
    left: 20px;
    font-weight: 800;
    font-size: 25px;
}
.wrapper {
    margin: auto;
    padding: 0;
    width: auto;
    height: auto;
  }
  
.box {
    margin: 3em auto;
    padding: 2em;
    width: 500px;
    height: 400px;
    position: relative;
    overflow: hidden;
    top: -20px;
    left: -40px;
}
.scroll {
	position: absolute;
    

	-webkit-animation: scroll 15s linear infinite;
	-moz-animation: scroll 15s linear infinite;
	-ms-animation: scroll 15s linear infinite;
	-o-animation: scroll 15s linear infinite;
	animation: scroll 15s linear infinite;
}
.scroll ul{
    padding: 10px;
}
.scroll ul li h2{
    font-weight: 900;
}


#sec2Btns{
    margin: auto;
}
#formAndChatBtn{
    height: 40px;
    width: 200px;
    margin: 0% 5% 0% 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10000;
    right: 0px;
    position: fixed;
    bottom:5%;
}
#admissionFormBtn{
    background-color: #3ec2fb;
    text-align: center;
    padding: 10px;
    color: #fff;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    
}
#admissionFormBtn:hover{
    cursor: pointer;
}
#chatBtn{
    display: flex;
    flex-direction: row;
    color: #000;
    padding: 18px;
    border:solid 1px #3ec2fb;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    background-color: white;
}
#chatIcon{
    width: 100%;
    height: 100%;
    margin-right: 10px;
}
#chatBtn:hover{
    cursor: pointer;
}
/* division blocks */
.card
{
    position: relative;
    height: 269px;
    width: 217px;
    display: flex;
    background: pink;
    align-content: flex-end;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    background: white;
    justify-content: flex-end;
    transition: 0.5s;
    border-radius: 14px;
    margin:1rem
}
.card .img
{
    min-height: 269px;
    width: 217px;
    z-index: 0;
    background-color: yellow;
    position: relative;
    top: 94px;
    transition: 0.3s;
    border-radius: 14px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.card .img img
{
    height: 100px;
    width: 100px;
}
.card .img h1{
    font-weight: 800;
    font-size: 1.3rem;
}
.card:hover{

    box-shadow: 5px 5px 10px rgba(0,0,0,0.2); 
    transform: scale(1.1);
    transform: translateY(10px);

}
 .card:hover .img
{
    transform: translateY(-100px);
}
.card .text
{
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
        flex-shrink: 1;
    max-height: 300px;   
}

.bottom-text
{
    font-size: 1.1rem;
  font-weight: 400;
  color: black;
  line-height: 1.2em;
    padding: 10px 5px;
    overflow: hidden;

}

@media screen and (max-width: 500px)  {
    #sec2Btns{
        margin:2rem 0   
    }
    .card
    {
    height: 169px;
    width: 117px;
    margin:0.2rem
    }
.card .img
{
    min-height: 169px;
    width: 117px;
    z-index: 0;
    background-color: yellow;
    position: relative;
    top: 123px;
    transition: 0.3s;
    border-radius: 14px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.card .img img
{
    height: 100px;
    width: 100px;
}
.card .img h1{
    font-weight: 800;
    font-size: 0.7rem;
}
.card:hover{

    box-shadow: 5px 5px 10px rgba(0,0,0,0.2); 
    transform: scale(1.1);
    transform: translateY(10px);

}
 .card:hover .img
{
    transform: translateY(-80px);
}
.card .text
{
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
        flex-shrink: 1;
    max-height: 300px;   
}

.bottom-text
{
    font-size: 0.8rem;
  font-weight: 400;
  color: black;
  line-height: 1.2em;
    padding: 10px 5px;
    overflow: hidden;
    text-align: center;
}
#divisions{
    flex-direction: row;
}
#col1{
    gap:0.4rem
}
}

#divisions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#col1{
    display: flex;
    flex-direction: column;
}
#col2{
    display: flex;
    flex-direction: column;
    align-self: center;
}
#divisions #ENGG{
    height: 269px;
    width: 217px;
    margin: 10%;
    border-radius: 10%;
    filter: drop-shadow(0 10px 10px #adb5bd);
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center; */
    font-size: 20px;
    font-weight: 900;
    
}
#divisions #ENGG h1{
    margin-top: 10px;
}
#gearIcon{
    height: 100%;
    width: 100%;    
}
#divisions #MED{
    height: 200px;
    width: 200px;
    background-color: #F67A7A;
    margin: 10%;
    margin-left: 50px;
    border-radius: 10%;
    filter: drop-shadow(0 10px 10px #adb5bd);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
}
#divisions #MED h1{
    margin-top: 10px;
}
#divisions #FOUNDATION{
    height: 200px;
    width: 200px;
    background-color: #EAA4C6;
    margin: 10%;
    border-radius: 10%;
    filter: drop-shadow(0 10px 10px #adb5bd);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
}
#divisions #FOUNDATION h1{
    margin-top: 10px;
}
#backgorundSec2{
    background-color: #F1F5F9;
    height: 500px;
    width: 100%;
}

/* sec III */
#bodySec3{
    display: flex;
    flex-direction: column;
    
}
#merits{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0 50px 0;
}
#resultHeading{
    font-weight: 600;
    align-self: center;
    margin: auto;
    margin-top: 50px;
    font-size: 35px;
    color:#475569
}


.grid-container {
  background: #efefef;
}

@supports (display: grid) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header" "title title footer" "main main main";
  }
  @media screen and (max-width: 500px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr auto 1fr;
      grid-template-areas: "header" "title" "main" "footer";
      position: relative;
      left: 40px;
    }
  }

  .grid-item {
    color: #fff;
    background: skyblue;
    padding: 3.5em 1em;
    font-size: 1em;
    font-weight: 600;
  }


  .main {
    color: #959595;
    background-color: white;
    grid-area: main;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
  }


  .items {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }

  .items.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  .item {
    display: inline-block;
    background: skyblue;
    min-width: 250px;
    margin: 1em 1em;
    border-radius: 5%;
    text-align: center;
    color: #000;
  }
  .studentImg{
      height: 200px;
      padding: 30px;
      background-color: #fff;
      border-radius: 5%;
      margin:5px
      /* margin-left: 12px; */
  }
  .studentImg img{
    width: 100%;
    height: 100%;
  }
  .studentInfo{
    margin:1rem auto;
  }
  .studentInfo h1{
    font-weight: 500;
  }
  @media screen and (max-width: 500px) {
    .item {
      min-height: 200px;
      min-width: 150px;
    }
    .studentInfo {
        margin:1rem auto
    }
  }
}


/* sec III */
#bodyBase{
    /* width: 100%; */
    height: auto;
    background-color: #475569;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    padding:2rem 5rem;
}
#bodyBaseLogo{
    position: relative;
    margin:0rem auto;
    top: 20px;
    width: 125px;
    height: 50px;
    background-color: #fff;
    border: solid #475569;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    font-weight: 600;
}

#leftBase{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    color: #fff;
} 
#baseNameAddr p{
    margin-top: 10px;
    width: 700px;
    font-size: 18px;
}
#baseNameAddr h3{
    font-size: 15px;
    position: relative;
    top: 9px;
    left: 2px;
}
#baseNameAddr h1{
    font-size: 45px;
    font-weight: 900;
}
#baseNameAddr h2{
    text-decoration: underline #fff;
    position: relative;
    font-size: 25px;
    top: -10px;
}
#contacts{
    display: flex;
    flex-direction: column;
    bottom:0;
    position: relative;
    margin-top: 5rem;
}
#phnNos{
    margin: 10px;
    /* padding-left: 10px; */
    font-size: 20px;
}
#socialIcons{
    height: 25px;
    width: 25px;
    padding: 2px;
    margin-top: 5px;
    position: relative;
    left: 14px;
    color:white;
}
#socialIcons:hover{
    cursor: pointer;
}

#rightBase{
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
}
#map{
    height: 400px;
    width: 550px;
    padding: 50px;
    filter: drop-shadow(0px 1px 5px #000);
}

@media (max-width:1200px){
    #bodySec1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #bodySec2{
        display: flex;
        flex-direction: column;
    }
    #bodyBase{
        display: flex;
        flex-direction: column;
    }
    #art1{
        align-self: flex-end;
    }
}
@media(max-width: 1048px) {
    label #logo{
        font-size: 32px;
        padding-left: 60px;
    }
    #mainHeader ul{
        margin-right: 20px;
    }
    #mainHeader a{
        font-size: 17px;
    }
    #art1{
        display: none;
    }
    #student4{
        display: none;
    }
    #student5{
        display: none;
    }
}
@media(max-width:990px){
    .contactBtn{
        color: #3ec2fb;
        background-color: #fff;
        border: none;
    }
    #bulletin{
        align-self: center;
        height: 550px;
        width: 600px;
    }
    #col1{
        flex-direction: row;
    }
    #ENGG{
        padding: 50px;
        position: relative;
        top: -150px;
        left: -30px;
    }
    #FOUNDATION{
        padding: 50px;
        position: relative;
            top: -75px;
            left: -90px;
    }
    #baseNameAddr p{
        width: 100%;
    }
}
@media(max-width:500px){
    #bodyBase{
        padding:2rem 0
    }
    #contacts{
        text-align: center;
        margin-top: 2rem;
    }
    #socials{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #baseNameAddr{
        text-align: center;
    }
    #intro{
        margin-left: 0;
    }
    #intro p{
        width: 300px;
        font-size: 20px;
    }
    #bulletin{
        width: 300px;
        height: 400px;
    }
    .box{
        width: 250px;
        height: 270px;
        margin: none;
        padding: none;
    }
    #formAndChatBtn{
        margin:0;
        right:-10px;
    }
    #admissionFormBtn{
        height: 40px;
        width: 80px;
        font-size: 9px;
    }
    #chatBtn{
        font-weight: 600;
        padding: 7px 5px;
    }
    #chatIcon{
        height: 20px;
        width: 20px;
    }
    #divisions #ENGG{
        height: 130px;
        width: 100px;
        font-size: 13px;
    }
    #divisions #FOUNDATION{
        height: 130px;
        width: 100px;
        font-size: 13px;
    }
    #divisions #MED{
        height: 130px;
        width: 100px;
        font-size: 14px;
    }
    #divisionIcon{
        height: 50px;
        width: 50px;
    }
    #col1{
        flex-direction: row;
    }
    #ENGG{
        padding: 50px;
        position: relative;
        top: -90px;
        left: 0px;
    }
    #FOUNDATION{
        padding: 50px;
        position: relative;
        top: -45px;
        left: -25px;
    }
    #resultHeading{
        /* font-size: 40px; */
    }
    #merits{
        width: 300px;
    }



    #contacts{
        justify-content: safe;
    }
    #map{
        height: 250px;
        width: 350px;
        left: -30px;
        padding: 20px;
    }
}
/* scrollbar */
body::-webkit-scrollbar{
    width: 1.2em;
}
body::-webkit-scrollbar-track{
    background: #3ec2fb;
    opacity: 0;
}
body::-webkit-scrollbar-thumb{
    background: #475569;
    border: 0.25em solid #3ec2fb;
    border-radius: 100vh;
}
.main::-webkit-scrollbar{
    width: 1.2em;
}
.main::-webkit-scrollbar-track{
    opacity: 0;
}
.main::-webkit-scrollbar-thumb{
    background: hsl(200 100% 20% / 1);
    border: 0.25em solid hsl(200 100% 50% / 1);
    border-radius: 100vh;
}
.items::-webkit-scrollbar{
    width: .2em;
    height: .1;
}
.items::-webkit-scrollbar-thumb{
    background: #87ceeb;
    border-radius: 100vh;
    margin: 0 10px;
}