{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FIM</title>

  <!-- Bootstrap Links -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static '/styles.css'%}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;800;900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div id="main">
    <nav class="navbar navbar-expand-lg bg-light mainNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">FIM LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
          <div class="navList">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="{%url 'home'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'about'%}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'home'%}">Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'blogs'%}">Blog</a>
              </li>
              <li class="nav-item contactBtn">
                <a class="nav-link" href="{%url 'contact'%}">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div id="formAndChatBtn">
      <div id="admissionFormBtn">Admission Form</div>
      <div id="chatBtn">
        <div><img src="Media/chat.svg" alt="" id="chatIcon" /></div>
        <div>Chat</div>
      </div>
    </div>
    <div id="mainBody">
      <div id="bodySec1">
        <div id="intro">
          <div id="mainHeading"><b>MAIN HEAADINGG</b></div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit voluptates neque praesentium numquam sapiente nobis
            quia iste eveniet autem quidem velit, minus ex illum placeat,
            dolorem esse quae corrupti ad.
          </p>
          <div id="introBtn">
            <form action="">
              <button id="getStartedBtn">Get Started</button>
            </form>
            <form action=""><button id="extraBtn">Button</button></form>
          </div>
        </div>
        <div id="art1">
          <img src="Media/image.png" id="ellipse1" alt="" />
        </div>
      </div>
      <div id="bodySec2">
        <div id="bulletin">
          <div id="bulletinHead">
            <img src="Media/bulletin.svg" alt="" />
            <h1>FIM Bulletin</h1>
          </div>
          <hr />
          <div id="bulletinBody">
            <div class="wrapper">
              <!-- Main Container -->

              <div class="box">
                <div class="scroll">
                  <ul>
                    <li>
                      <h2>HEADING 1</h2>
                    </li>
                    <li>02/11/2022</li>
                    <li>
                      Lorem ipsum dolor, sit amet consectetur adipisicing
                      elit. Expedita dolorum sit facere consectetur temporibus
                      maxime modi adipisci repellendus est porro, atque, ipsam
                      unde repudiandae soluta vitae mollitia vero facilis
                      odio!
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <h2>HEADING 2</h2>
                    </li>
                    <li>14/11/2022</li>
                    <li>
                      Lorem ipsum dolor sit, amet consectetur adipisicing
                      elit. Obcaecati odio expedita cumque impedit hic eius
                      cupiditate delectus accusantium tempore aperiam saepe
                      odit aut harum, deleniti, labore, non vel ratione?
                      At./li>
                    </li>
                  </ul>

                  <ul>
                    <li>
                      <h2>HEADING 3</h2>
                    </li>
                    <li>19/10/2022</li>
                    <li>
                      Lorem ipsum dolor sit amet consectetur, adipisicing
                      elit. Aliquam minus, maxime aut, ex non velit corrupti
                      vel temporibus obcaecati magnam quod corporis pariatur
                      quas quisquam nemo quam reiciendis maiores neque!
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <h2>HEADING 4</h2>
                    </li>
                    <li>07/07/2022</li>
                    <li>
                      Lorem, ipsum dolor sit amet consectetur adipisicing
                      elit. Ducimus ipsam suscipit esse soluta error non
                      ratione reiciendis. Dignissimos, sequi laboriosam
                      tempore dolores ratione fugiat at consequuntur beatae
                      recusandae porro aliquid.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="sec2Btns">
          <div id="divisions">
            <div id="col1">
              <div class="card">
                <div class="img" style="background-color: #61CAF9; z-index: 100;">
                  <img src="Media/gear.png" alt="" id="divisionIcon" />
                  <h1>ENGINEERING</h1>
                </div>
                <div class="text">
                  <div class="bottom-text">
                    This is biryani in its vegetarian avatar that tastes just as good.
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="img" style="background-color: #EAA4C6; z-index: 100;">
                  <img src="Media/foundation.svg" alt="" id="divisionIcon" />
                  <h1>FOUNDATION</h1>
                </div>
                <div class="text">
                  <div class="bottom-text">
                    This is biryani in its vegetarian avatar that tastes just as good.
                  </div>
                </div>
              </div>
            </div>
          
          <div id="col2">
            <div class="card">
              <div class="img" style="background-color: #F77A7A; z-index: 100;">
                <img src="Media/med.svg" alt="" id="divisionIcon" />
                <h1>MEDICAL</h1>
              </div>
              <div class="text">
                <div class="bottom-text">
                  This is biryani in its vegetarian avatar that tastes just as good.
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div id="bodySec3">
      <h1 id="resultHeading">Result Says it All</h1>
      <div id="merits">
        <div class="grid-container">
          <main class="grid-item main">
            <div class="items">
              <div class="item item1">
                <div class="studentImg">
                  <img src="Media/user.svg" alt="" />
                </div>
                <div class="studentInfo">
                  <h1>XXXXX XXXXXX</h1>
                  <h1>JEE-MAIN</h1>
                  <h1>%%%%</h1>
                </div>
              </div>
              <div class="item item2">
                <div class="studentImg">
                  <img src="Media/user.svg" alt="" />
                </div>
                <div class="studentInfo">
                  <h1>XXXXX XXXXXX</h1>
                  <h1>JEE-MAIN</h1>
                  <h1>%%%%</h1>
                </div>
              </div>
              <div class="item item3">
                <div class="studentImg">
                  <img src="Media/user.svg" alt="" />
                </div>
                <div class="studentInfo">
                  <h1>XXXXX XXXXXX</h1>
                  <h1>JEE-MAIN</h1>
                  <h1>%%%%</h1>
                </div>
              </div>
              <div class="item item4">
                <div class="studentImg">
                  <img src="Media/user.svg" alt="" />
                </div>
                <div class="studentInfo">
                  <h1>XXXXX XXXXXX</h1>
                  <h1>JEE-MAIN</h1>
                  <h1>%%%%</h1>
                </div>
              </div>
              <div class="item item5">
                <div class="studentImg">
                  <img src="Media/user.svg" alt="" />
                </div>
                <div class="studentInfo">
                  <h1>XXXXX XXXXXX</h1>
                  <h1>JEE-MAIN</h1>
                  <h1>%%%%</h1>
                </div>
              </div>
              <div class="item item6">
                <div class="studentImg">
                  <img src="Media/user.svg" alt="" />
                </div>
                <div class="studentInfo">
                  <h1>XXXXX XXXXXX</h1>
                  <h1>JEE-MAIN</h1>
                  <h1>%%%%</h1>
                </div>
              </div>
              <div class="item item7">
                <div class="studentImg">
                  <img src="Media/user.svg" alt="" />
                </div>
                <div class="studentInfo">
                  <h1>XXXXX XXXXXX</h1>
                  <h1>JEE-MAIN</h1>
                  <h1>%%%%</h1>
                </div>
              </div>
              <div class="item item8">
                <div class="studentImg">
                  <img src="Media/user.svg" alt="" />
                </div>
                <div class="studentInfo">
                  <h1>XXXXX XXXXXX</h1>
                  <h1>JEE-MAIN</h1>
                  <h1>%%%%</h1>
                </div>
              </div>
              <div class="item item9">
                <div class="studentImg">
                  <img src="Media/user.svg" alt="" />
                </div>
                <div class="studentInfo">
                  <h1>XXXXX XXXXXX</h1>
                  <h1>JEE-MAIN</h1>
                  <h1>%%%%</h1>
                </div>
              </div>
              <div class="item item10">
                <div class="studentImg">
                  <img src="Media/user.svg" alt="" />
                </div>
                <div class="studentInfo">
                  <h1>XXXXX XXXXXX</h1>
                  <h1>JEE-MAIN</h1>
                  <h1>%%%%</h1>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
    <div id="bodyBaseLogo">
      <h1>Visit us</h1>
    </div>
    <div id="bodyBase">
      <div id="leftBase">
        <div id="baseNameAddr">
          <h3>Soni Sir's</h3>
          <h1>FIM</h1>
          <h2>Eduventures</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Blanditiis quae nulla facere exercitationem, cum consequatur
            veritatis quos similique ducimus unde deleniti id incidunt a
            quaerat minus odio ullam inventore eos!
          </p>
        </div>

        <div id="contacts">
          <div id="phnNos">
            <h1>+91-9099999999</h1>
            <h1>+91-9898989999</h1>
            <h1>contact@fim.com</h1>
          </div>
          <div id="socials">
            <img src="Media/facebook.svg" alt="" id="socialIcons" />
            <img src="Media/instagram.svg" alt="" id="socialIcons" />
            <img src="Media/youtube.svg" alt="" id="socialIcons" />
            <img src="Media/twitter.svg" alt="" id="socialIcons" />
            <img src="Media/whatsapp.svg" alt="" id="socialIcons" />
            <img src="Media/message-square.svg" alt="" id="socialIcons" />
          </div>
        </div>
      </div>
      <div id="rightBase">
        <div>
          <img id="map" src="Media/map.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="./script.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>

</html>